.info-container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34vh;
}

.info-card{
  position: relative;
  width: 50vh;
  height: auto;
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.info-card {
  animation: fadeInUp 0.5s ease forwards;
}

.info-card:hover {
  transform: scale(1.05); /* Aumenta la escala al 105% */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Añade una sombra */
}

.info-card:hover h1{
  color: rgb(0, 38, 255);
}
.info-card h1{
  color: rgb(68, 20, 243);
}

.info-card h3{
  color: rgb(100, 100, 100);
}


.info-imagen {
  position: relative;
  overflow: hidden;
}

.info-imagen img {
  width: 51vh;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease,filter 0.5s ease;
}

.info-imagen:hover img {
  transform: translateY(-5px) rotate(1deg);
  filter: brightness(90%);
}

.info-imagen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    transparent 49.5%,
    rgba(86, 245, 108, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 50.5%,
    transparent 51%
  );
  z-index: 1;
  animation: flicker 0.1s infinite alternate-reverse;
}

@keyframes flicker {
  0% {
    opacity: 0.8;
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(3px);
  }
}

.info-imagen:hover img {
  transform: scale(1.1) rotate(3deg);
  filter: grayscale(100%);
}