.title-news{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title-news h1{
    font-weight: 600;
}

.container-general-news {
    font-family: Arial, sans-serif;
    margin: 0 auto;

    padding: 20px;
}

.header {
    position: relative;
    padding: 20px;
    height: 20vh;
    text-align: center;
}

.body-news {
    position: relative;
    display: flex;
    justify-content: space-between;

}

.movies, .latest-news, .most-read {
    flex: 1;
    margin: 10px;
}

.movies {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.latest-news {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    padding-left: 20px;
}

.most-read {
    padding-left: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.movie-item, .news-item, .most-read-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
}

.movie-info, .news-info, .most-read-info {
    margin-left: 10px;
}

.news-category {
    background-color: #ddd;
    border-radius: 5px;
    color: #333;
    font-size: 0.9em;
    padding: 2px 5px;
}

h3 {
    font-size: 1.2em;
    margin: 0;
}

p {
    font-size: 0.9em;
    margin: 5px 0;
}

a {
    color: #1a0dab;
    text-decoration: none;
}
